.Rhistory
.Rproj.user
.directory
CV_JohannesGruber-concordance.tex
CV_JohannesGruber.tex
README.html
.last_updated
CV_JohannesGruber.aux
CV_JohannesGruber.fdb_latexmk
CV_JohannesGruber.fls
CV_JohannesGruber.log
ongoing.aux
software.aux
